body {
    font-family: "Hero";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    gap: 490px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
    white-space: nowrap;
}

.logo {
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

.top-banner {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 400px;
}

.banner-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
}

.text {
    margin: 15px 0;
}
.banner-content > img {
    height: 250px;
    width: 350px;
}
.title {
    font-size: 48px;
    font-weight: 900;
}
.banner-info {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 5px;
}
button {
    background-color: #3882F6;
    padding: 4px 8px;
    border-radius: 8px;
    border:none;
    width: 75px;
    color: #F9FAF8;
}

.info {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.header2 {
    margin: 30px 0 10px 0;
    font-weight: 800;
    font-size: 36px;
}

.info-sub {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.info-image > img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.info-image > p {
    width: 100px;
    text-align: center;
    margin: 0;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote {
    font-size: 36px;
    width: 450px;
    color: #1F2937;
    align-self: center;
}

.credit{
    color: #1F2937;
    font-weight: 100;
    text-align: right;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 250px;
    align-self: center;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.signup-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 800px;
    height: 75px;
    border-radius: 4px;
}
.signup-banner-info {
    display: flex;
    flex-direction: column;
}

.signup-title {
    font-weight: 800;
    font-size: 20px;;
}

.signup-info {
    font-size: 15px;;
}

.signup-button > button {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: 12px;
}